body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }
  
  h1 {
    text-align: center;
    background-color: rgb(83, 32, 59);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }
  
  div {
    padding: 20px;
  }

  .container{
    text-align: center;
  }

  .card {
    display: inline-block;
    font-style: italic;
    vertical-align: top;
    font-family: system-ui;
    background: hsl(315, 61%, 73%);
    color: white;
    text-align: center;
    width: 180px;
    height: 240px;
    margin: 10px;
    padding: 10px;
    position: relative;
  }
  
  .title {
    font-weight: bold;
    font-size: 1.2em; 
  }
  .task-priority {
    font-weight: bold;
  }
  
  button {
    border: none;
    border-radius: 3px;
    font-style: italic;
    font-size: 0.8em;
    margin: 4px 6px;
    width: 50px;
    height: 25px;
  }
  
  .doneButton {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: green;
  }
  